/********** Body **********/

body {
  font-family: "Source Sans Pro" !important;
  font-weight: normal !important;
}

.space {
  /*background-image: url(../style/spaceBeer.jpg);*/
  /*opacity: .8;*/
}

.plain {
  background-color: #f4f7f9;
}

.white {
  background-color: white;
}

/********** Nav **********/

.nav-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
  height: 53px !important;
}

.topTab {
  font-size: 18px !important;
}

.tab-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.nav-link {
  border-radius: 0 !important;
  color: #59626a !important;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.nav-link > i {
  font-size: 18px !important;
  margin-left: 5px !important;
  color: #59626a;
}

.centerAll {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;  
}

.mainLink:hover {
  color: #323b43 !important;
  border: 0 !important;
}

.mainLink:hover > i, .mainLink.active > i {
  color: #323b43;
}

.active {
  opacity: 1 !important;
  color: black !important;
}

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  
}

/********** Borders **********/

.b-x-0 {
  border-left: 0 !important;
  border-right: 0 !important;
}

.b-l-0 {
  border-left: 0 !important;
}

.b-x-1 {
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;  
}

.b-0 {
  border-top: 0 !important;
  border-bottom: 0 !important; 
  border-left: 0 !important;
  border-right: 0 !important;
}

.b-1 {
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;  
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;  
}

/********** Home **********/

.accountBack {
  background-color: #f4faff !important;
  padding-left: 7vw !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  overflow: hidden !important;
}

.accountTab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f4faff !important;
  padding-left: 7vw !important;
}

/********** Add Post **********/

#AddNewPost {
  position: static;
  display: block;
  margin: 20px 0 60px 30px;
  border: 1px solid #CED7DF;
  border-radius: 4px;
  min-width: 685px;
  max-width: 685px;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}


#APTextarea {
  width: 94%;
  min-height: 100px;
  max-height: 250px;
  padding: 10px 0 10px 0;
  border: 0;
}

#APFooter {
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center;
  justify-content: space-between;
}

#APSchedule {
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center;
  justify-content: flex-start;
}

#APDateTime {
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 10px; 
}

.APAvatar {
  min-height: 42px;
  max-height: 42px;
  min-width: 42px;
  max-width: 42px;
  margin-right: 12px;
  border-radius: 4px;
  background-size: 42px 42px;
  background-position: center;
  transition: all .25s ease;
}

#APSelectPlatform {
  padding-bottom: 8px;
}

#APSubmitBtn {
  background-color: #137dcf !important;
  border: 1px solid #2aabd2 !important;
  border-radius: .25rem;
  color: white !important;
  font-family: "Source Sans Pro" !important;
}

#APFormFeedback {
  color: red;
/*  opacity: 0;
*/  transition: all .25s ease;
}


/********** Post Queue **********/


.PostQueue {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  overflow: scroll;
}

.PQEContainer {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 15px;
  height: 60px;
}

.PQELogo {
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
  margin-right: 15px;
  background-size: contain;
}

.PostQueueEntry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ced7df;
  border-radius: 4px;
  padding-left: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 80%;
  min-height: 90%;
}

.PostQueueEntryRight {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.PQERemoveButton {
  color: #d9534f !important;
  font-weight: 700 !important;
  text-decoration: none !important;
}

/********** Platform List **********/

.PLEContainer {
  opacity: .4 !important;
  background-color: #f4faff !important;
  border-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; 
}

.PLEContainer.PLELoggedIn {
  opacity: 1 !important;
  background-color: white !important;
}

.PLEContainer:hover {
  background-color: white !important;
  opacity: 1 !important;
}

.PlatformListEntry {
  position: static;
  border-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.PLEText {
  display: flex !important;
  flex-flow: column nowrap !important;
  justify-content: center !important;
  min-height: 48px !important;
  max-height: 48px !important;
  margin-left: 15px;
}

.PLELeft {
  display: flex !important;
  flex-flow: row nowrap !important;
  justify-content: flex-start !important;
}

.PLESettings {
  cursor: pointer;
}

.PLEAutopilot {
  font-weight: 900;
}

.PLEAutoOn {
  color: #2aabd2 !important;
}

.PLELogin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  left: 110%;
  top: 0;
  background-color: white;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  opacity: 0;
  transition: all .3s ease;
}

.PLEContainer.PLELoggedIn > .PLELogin {
  display: none;
}

.PLEContainer:hover > .PLELogin {
  left: 0;
  opacity: 1;
}

.PLEHeader {
  font-size: 16px;
  font-weight: 900;
}

.PLESubheader {
  font-size: 14px;
}

.PlatformListEntryIcon {
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
  background-size: 48px 48px;
  background-position: center;
  /*background-size: contain;*/
}

.inner-nav-link {
  border-bottom: 1px solid #ced7df !important;
}

.inner-nav-link > span {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.inner-nav-link.active > span {
  box-shadow: inset 0 -3px 0 #323b43 !important;
}

.nav-item {
  transition: all .25s ease;
}

.nav-item.open > .dropdown-toggle {
  color: black !important;
  opacity: 1 !important;
}

.dropdown-menu {
  box-shadow: 0 1px 1px rgba(0,0,0,.1) !important;
  border-radius: 0 !important;
}

/********** Auth and Splash Components **********/
.AuthAndSplash {
  display: flex;
/*  margin-top: 15%;
*/  padding: 20px;
  max-height: 800px;
  
  /*FLEX*/
  justify-content: space-between;
  align-content: flex-end;
  align-self: flex-end;
  flex-flow: column nowrap;

  background-clip: border-box;
  border-radius: 20px;
  text-align: center;
  font-family: "Source Sans Pro";
  color: white;
}

#LandingPageHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
}

#LandingPageHeaderTitle {
  font-weight: bold;
  font-size: 50px;
}

.LandingPageHeaderLogo {
  background-size: contain;
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
}

/********** Splash **********/
#splashBox {
  display: flex;
  
  /*FLEX*/
  justify-content: space-around;
  align-content: center;
  align-self: center;
  flex-flow: column nowrap;
  
  padding: 20px;
  background-clip: border-box;
  background-color: rgba(56,49,38, 0.40);
}

#impostor-title {
  display: block;

  /*FLEX*/
  flex-direction: column;
  align-self: center;

/*  background-image: url('./otherBigWhite.png');
*/  background-repeat: no-repeat;
  height: 228px;
  width: 274px;
  background-size: 265px 188px;
}

#evan-quote {
  display: flex;

  /*FLEX*/
  flex-flow: column nowrap;

  font-style:italic;
  font-size: 35px;
  font-weight: 900;
  text-shadow: 0 0 20px rgba(0,0,0,1);
}

#fromEvan {
  display: inline;

  /*FLEX*/
/*  align-self: flex-end;
*/
}

/********** Auth **********/
#authBox {
  display: flex;
  padding: 15px;
  
  /*FLEX*/
  flex-flow: column nowrap;
  justify-content: space-around;
  align-self: center;
  align-items: center;

  background-clip: border-box;
  text-align: center;
  color: white;
  background-color: rgba(35,25,19,.65);
  border-radius: 8px;
}

.AuthParent {
  display: inline-flex;
  
  /*FLEX*/
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  background-clip: border-box;
  border-radius: 5px;
  color: white;
}

.AuthFields {
  display: flex;
  
  /*FLEX*/
  justify-content: space-between;
  flex-flow: column nowrap;

  padding: .5rem;
}

.AuthInput {
  /*FLEX*/
  
  border: 1px solid #c5c5c5;
  border-radius: .25rem;
}


.AuthButton {
  display: block;
  
  /*FLEX*/
  align-self: center;
  align-items: center;
  justify-content: center;
}

/*.center {
  justify-content: space-around;
  align-self: center;
}
*/

#splashText {
  display: flex;
  
  /*FLEX*/
  flex-flow: column nowrap;

  font-family: "Source Sans Pro";
  font-weight: 300;
  text-align: center;
  padding-bottom: 12px;
}

.splashSwitchAuthText > div > a {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}

.splashSwitchAuthText {
  display: flex;

  /*FLEX*/
  justify-content: center;
  flex-flow: column wrap;

  font-size: 14px;
  margin: 5px;
}

.authChangeText {
  display: block;
  
  /*FLEX*/
  justify-content: center;
  flex-flow: row wrap;
}


/********** Navbar **********/

.logoSmallAuth {
  /*background-image: url('./whiteIcon.png');*/
  background-size: 61px 55px;
  width: 61px;
  height: 55px;
}

.logoSmallHome {
  /*background-image: url('./bigBlack.png');*/
  background-size: 61px 55px;
  width: 61px;
  height: 55px;
}

/********** Footer **********/

#content {
  width: 100vw;
  height: 100vh;
}

footer {
  /*FLEX*/
  align-self: flex-end;
  align-items: flex-end;
}

/********** **********/
  /*FLEX*/
