.DS_Store
/client/.DS_Store
/client/style/.DS_Store
*.log
node_modules

##ignore compiled files
/client/bundle.js
/client/bundle.js.map

## creds
__cutestuff.js
/server/config/config.js

## Dockerfile has creds on it
Dockerfile

/server/config/config.js
